<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="x-dns-prefetch-control" content="off">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{{ subject | e }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="://{{ host }}/favicon.ico">
        <style type="text/css">{% include 'files/style.css' %}</style>
    </head>
    <body>
        <div class="main">
            <p class="large">
                <img id="logo" src="data:image/png;base64,{{ include_binary("files/logo.png") | b64encode }}"/>&nbsp;Hi there,
            </p>
            <p><a href="https://{{ host }}">{{ display_name }}</a> published a new post:</p>
            <h1>{{ post.title }}</h1>
            {% if post.image %}
                <div class="post-columns">
                    <div>
                        <p>{{ post.description }}</h1>
                        <p><a href="{{ post.link }}" class="btn">Read it now</a></p>
                    </div>
                    <div>
                        <img src="{{ post.image }}" class="post-image" />
                    </div>
                </div>
            {% else %}
                <p>{{ post.description }}</p>
                <p><a href="{{ post.link }}" class="btn">Read it now</a></p>
            {% endif %}
            <p class="small"><a href="https://{{ host }}/unsubscribe/?email={{ to_email | urlquote }}">Unsubscribe from these notifications.</a></p>
        </div>
    </body>
</html>
