@font-face {
    font-family: 'Lato Light';
    src: url('fonts/LatoLatin-LightItalic.woff2') format('woff2'),
         url('fonts/LatoLatin-LightItalic.woff') format('woff');
    font-style: italic;
}

body {
    font-family: "Lato Light";
    font-size: 16px;
}

a {
    color: #336cc6;
    text-decoration: none;
}

a:hover {
    color: #dd16c9;
}

.main {
    width: 600px;
    max-width: calc(100% - 32px);
    margin-left: auto;
    margin-right: auto;
}

p, h1 {
    margin-top: 16px;
    margin-bottom: 16px;
}

p:first-child {
    margin-top: 0;
}

h1 {
    font-size: 2em;
}

.large {
    font-size: 1.5em;
}

a.btn {
    background-color: rgb(51, 108, 198);
    background: linear-gradient(180deg, rgb(51, 108, 198) 60%, rgb(31, 59, 105) 100%);
    border: none;
    border-radius: 4px;
    padding: 8px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    font-weight: bold;
}

a:hover.btn {
    color: #fff;
    background-color: rgb(67, 124, 214);
    background: linear-gradient(180deg, rgb(67, 124, 214) 60%, rgb(31, 59, 105) 100%);
}

a:active.btn {
    transition: 0s;
    background: rgb(51, 108, 198)
}

#logo {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: baseline;
}

.post-image {
    width: 250px;
    border-radius: 4px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 16px;
}

.post-columns {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}

.post-columns > div {
    max-width: 350px;
    min-width: 250px;
}

.post-columns > div:first-child > p {
    margin-right: 32px;
}

